{% if site.data.data.projects %}
<section class="section projects-section">

  <h2 class="section-title"><i class="fa fa-archive"></i>{{ site.data.data.projects.title }}</h2>

  {% if site.data.data.projects.intro %}
  <div class="intro">
      <p>{{ site.data.data.projects.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for project in site.data.data.projects.projects %}
    <div class="item">



      <div class="project-title"><a target="_blank" href="{{ project.link }}">{{ project.title }}</a></div>

      {% if project.tagline %}
      <span class="project-tagline">{{ project.tagline }}</span>
      {% endif %}
      <div class="project-image-container">
          <a  href="{{ project.link }}" target="_blank">

          <img class="project-image" src="{{site.baseurl}}/assets/images/projects/{{ project.image }}" />
          </a>
          <div class="project-image-middle">
            <a  href="{{ project.link }}" target="_blank" style="margin-right: 5px; text-decoration: none;">
              <div class="project-image-middle-text">Go to Site</div>
            </a>
            {% if project.code %}
          <a href="{{ project.code }}" target="_blank" style="margin-left: 5px; text-decoration: none;">
            <div class="project-image-middle-text">View Code</div>
          </a>
            {% endif %}
          </div>

      </div>
      <hr />
    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
